.chat {
  width: 80vw;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}

.chat__header {
  width: calc(100% - 25px * 2);
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $primary-color;
  background-color: $violet;

  &-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  &-img {
    position: relative;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 4px solid $bg-page-darker;

    overflow: hidden;
    background-color: $bg-page;
  }

  &-photoURL {
    position: absolute;
    left: -19px;
    top: -5px;
    width: 140%;
    height: 140%;
  }

  & a {
    text-decoration: none;
  }

  &-close {
    width: 30px;
  }
}

.chat__main {
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat__main-list {
  width: calc(100% - 25px * 2);
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0 25px;

  background-color: $chat-list-color;
}
