
.msg {
  display: flex;
  flex-direction: column;

  padding: 10px 0 10px 0;

  &-send {
    align-items: flex-start;
  }

  &-received {
    align-items: flex-end;
  }
}

.msg__content {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 80%;
  min-width: 20%;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  transition-duration: 200ms;

  &:hover {
    box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.25);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

.msg-send .msg__content {
  border-top-right-radius: 3px;
  background-color: $send-color;

  &::before {
    left: -6px;
    border-right: 10px solid $send-color;
  }
}

.msg-received .msg__content {
  border-top-left-radius: 3px;
  background-color: $received-color;

  &::before {
    right: -6px;
    border-left: 10px solid $received-color;
  }
}

.msg__control {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  padding: 5px 5px 5px 5px;

  background-color: inherit;
}

.msg__content-hour {
  position: absolute;
  top: -14px;
  left: 14px;

  font-size: 1rem;
  text-align: center;


  color: $light-gray;
}

.msg__control-btn {
  padding: 1px 3px 1px 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: translate(-1px, -1px);
  }
}

.msg__control-img {
  width: 15px;
  height: 15px;
}

.msg__text {
  margin: 27px 55px 10px 25px;
  padding: 6px;
  text-align: left;

  font-family: 'RalewayRegular';
  word-wrap: break-word;

  &--edit {
    font-weight: bold;
    outline-color: $colour-primary;
  }
}
