$background-color: #a5bfd4;
$header-color: #6a96d8;

// $send-color: #3996fb;
$send-color: #68b5e2;

$received-color: #e8e7e7;

$text-color: #036;

$blocked-color: #ffc1c1;
$light-gray: #dfdfdf;
$dark-gray: #858a91;

$bg-page: #ffffff;
$bg-page-darker: #f7f7f7;
$bg-page-darkest: #b3b3b3;

$colour-primary: #3996fb;
// $colour-primary: #036;

$colour-primary-lightest: #e8f3ff;

$colour-third-lighter: #7bc9aa;
$colour-third-lightest: #e6f7f0;
$colour-text: #696969;
$colour-text-lighter: #9b9b9b;

$border-color: #e8e7e7;

$search-form-bg-colour: #0151fd;
$send-form-bg-colour: #f2f2f2;
$send-btn-box-shadow-colour: #7bbafd;
$chat-bubble-me: #f2f2f2;

$primary-color: hsl(196, 78%, 61%);
$btn-color: hsl(196, 78%, 61%);
$btn-border-color: hsl(196, 78%, 61%);
$primary-bg-color: rgba(4, 3, 48, 0.884);
$btn-box-shadow-color: hsla(204, 70%, 53%, 0.5);
$container-box-shadow-color: rgba(6, 21, 32, 0.5);
$violet: #180c7c;

$primary-bg-color: rgba(0, 0, 0, 0.8);
$container-box-shadow-color: rgba(6, 21, 32, 0.5);
$btn-box-shadow-color: hsla(204, 70%, 53%, 0.5);

$chat-list-color: #f7f7f7;
